<div class="container bg-info">
  <div class="row">
    <div class="col-md-12">
      <%= @customer.customer_name %>(<%= @store.id %>)
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ul>
        <li><%= @ticket.id %></li>
        <li><%= @ticket.title %></li>
      </ul>
    </div>
  </div>
</div>
